// Main colors 
$color-black: #000000;
$color-grey: #666666;
$color-grey-2: #ebebeb;
$color-grey-3: #e1e1e1;
$color-grey-4: #F1F5F9;
$color-white: #FFFFFF;
$color-white-2: #FFFFFFB2;
$color-red: #cc3838;
$color-blue: #2783F3;
$color-blue-1: #519cf8;